{% load staticfiles %}

<link rel="stylesheet" href="{% static 'createaccount/style.css' %}" type="text/css"
      xmlns="http://www.w3.org/1999/html"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BOP Bank</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'create'%}">Create Account</a></li>
            <li><a href="{% url 'acc_info' %}">Display Account Information</a></li>
          <li><a href="{% url 'dis_bal'%}">Display Balance</a></li>
          <li><a href="{% url 'depo' %}">Deposit Money</a></li>
            <li><a href="{% url 'withdraw' %}">Withdraw Money</a></li>
            <li><a href="{% url 'mon_tra' %}">Money Transfer</a></li>
            <li><a href="{% url 'delete' %}">Delete Account</a></li>

        </ul>
      </div>
    </nav>
    <center>
    <form method="post" action="{% url 'acc_info1' %}">
        {% csrf_token %}
        <label for="your_name">Enter Account No.: </label>
        <input id="your_name" type="text" name="name"><br>
        <input type="submit" value="Submit">
    </form>
    </center>
</body>

</html></html>