{% load staticfiles %}

<link rel="stylesheet" href="{% static 'createaccount/style.css' %}" type="text/css"
      xmlns="http://www.w3.org/1999/html"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BOP Bank</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'create'%}">Create Account</a></li>
            <li><a href="{% url 'acc_info' %}">Display Account Information</a></li>
          <li><a href="{% url 'dis_bal'%}">Display Balance</a></li>
          <li><a href="{% url 'depo' %}">Deposit Money</a></li>
            <li><a href="{% url 'withdraw' %}">Withdraw Money</a></li>
            <li><a href="{% url 'mon_tra' %}">Money Transfer</a></li>
            <li><a href="{% url 'delete' %}">Delete Account</a></li>

        </ul>
      </div>
    </nav>
    <center>
        <h4><label>Account Holder Name : </label> {{ obj.account_holder_name }}<br><br>
            <label>Account Number : </label> {{ obj.account_number }}<br><br>
            <label>Account Balance : </label> {{ obj.balance }}<br><br>
            <label>Address : </label> {{ obj.address }}<br><br>
            <label>Mobile Number : </label> {{ obj.mobile_number }}<br><br>
            <label>Email id : </label> {{ obj.email_id }}<br><br>
            <label>gender : </label> {{ obj.gender }}<br><br>
            <label>Account type : </label> {{ obj.account_type }}<br><br>
            <label>Account Status : </label> {{ obj.account_status }}<br><br>
            <label>Qualification : </label> {{ obj.qualification }}<br><br>
            <label>Occupation : </label> {{ obj.occupation }}<br><br>
            <br><br><br><br><br><br><br><br></label>
    </h4>
    <h2>Thank You</h2></center>

</body>

</html></html>